@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --success: 156 72% 67%;
    --success-foreground: 161 94% 30%;
    --popover: 0 0% 90%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 266 75% 44%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
    --scroll: 0 0% 76%;
    --scroll-bg: 0 0% 95%;
    --box-shadow: 0 2rem 3rem hsl(var(--foreground) / 20%);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210 4% 10%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --success: 156 72% 67%;
    --success-foreground: 161 94% 30%;
    --popover: 229 9% 23%;
    --popover-foreground: 210 20% 98%;
    --primary: 266 75% 44%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 3% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 3% 15%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 210 3% 15%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 214 43% 17%;
    --input: 210 3% 15%;
    --ring: 263.4 70% 50.4%;
    --scroll: 0 0% 41%;
    --scroll-bg: 0 0% 26%;
    --box-shadow: 0 2rem 3rem hsl(var(--foreground) / 20%);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

* {
  box-sizing: border-box;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--scroll-bg));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scroll));
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--scroll) / 50%);
}

body {
  background-color: hsl(var(--background));
}

body[data-scroll-locked][data-scroll-locked]:not(#dashboard-page) {
  all: unset !important;
}

body[data-scroll-locked][data-scroll-locked]#dashboard-page {
  overflow: auto !important;
  margin-right: 0 !important;
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

textarea,
input {
  background-color: hsl(var(--foreground) / 5%);
  border: 1px solid hsl(var(--border));
  padding: 5px 10px;
  outline: 1px solid transparent;
  transition: 0.3s;
  border-radius: calc(var(--radius) - 4px);
}

textarea::placeholder,
textarea ~ svg,
input::placeholder,
input ~ svg {
  transition: 0.3s;
}

textarea:focus-visible,
input:focus-visible {
  outline: 1px solid hsl(var(--primary) / 80%);
}

textarea:focus-visible::placeholder,
input:focus-visible::placeholder {
  opacity: 0.5;
}
textarea:focus-visible ~ svg,
input:focus-visible ~ svg {
  opacity: 0.5;
}

label {
  cursor: pointer;
  transition: 0.3s;
}

*:has(textarea:focus) > label,
*:has(input:focus-visible) > label {
  color: hsl(var(--primary));
}

.save-btn,
.cancel-btn {
  padding: 5px 10px;
  border-radius: calc(var(--radius) - 4px);
  transition: 0.3s;
}
.save-btn {
  background-color: hsl(var(--primary));
}
.save-btn:hover,
.save-btn:focus {
  background-color: hsl(var(--primary) / 50%);
}
.save-btn img {
  max-width: none;
}
.cancel-btn {
  border: 1px solid hsl(var(--border));
}
.cancel-btn:hover,
.cancel-btn:focus {
  background-color: hsl(var(--popover));
}

button.loading {
  position: relative;
  pointer-events: none;
  color: transparent;
}
button.loading > *:not(span) {
  opacity: 0;
}
button.loading span {
  display: inline;
  border-radius: 50%;
  border: 5px solid;
  border-color: transparent white white white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  animation: rotate 1s infinite linear;
}

.disabled-btn,
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.disabled {
  background-color: gray;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.required {
  position: relative;
}

.required::before {
  content: "*";
  position: absolute;
  top: -3px;
  color: hsl(var(--destructive));
}

.required.left::before {
  left: -10px;
}

.required.right::before {
  right: -10px;
}

.hr.h {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, hsl(var(--foreground)), transparent);
  margin-block: 10px;
}
.hr.v {
  width: 1px;
  height: 100%;
  background: linear-gradient(transparent, hsl(var(--foreground)), transparent);
  margin-inline: 10px;
}

.cta {
  border-radius: 50vw;
}

.footer-link {
  position: relative;
  transition: 0.3s;
}

.footer-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: hsl(var(--primary));
  transition: 0.3s;
}

.footer-link:hover:before {
  width: 100%;
}

.footer-link:hover {
  opacity: 0.8;
}

.link {
  position: relative;
  transition: 0.3s;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: hsl(var(--primary));
  transition: 0.3s;
}

.link:hover:before {
  width: 100%;
}

.link:hover {
  opacity: 0.8;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
}

.drag-drop-container {
  width: 300px;
}

@media (max-width: 400px) {
  .drag-drop-container {
    width: 100%;
  }
}

.drag-drop-container:hover .add-img {
  opacity: 1;
}
.add-img {
  transition: 0.3s;
}

.drag-drop {
  width: 100%;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed hsl(var(--muted-foreground));
  border-radius: var(--radius);
}

.drag-drop .input-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: var(--radius);
  /* overflow: hidden; */
  /* z-index: -1; */
}
.drag-drop .input-image img {
  margin: 0 auto;
  border-radius: var(--radius);
}
.drag-drop input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 29;
}

.category img {
  transition: 0.3s;
}
.category:hover img {
  scale: 1.05;
}

.active-theme {
  background-color: hsl(var(--secondary));
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
.avatar-drop {
  opacity: 0;
  transition: 0.3s;
}
.avatar-wrapper:hover {
  opacity: 0.5;
}
.avatar-wrapper:hover .avatar-drop {
  opacity: 1;
}

/* reviews */

.star-container {
  opacity: 0.1;
  transition: 0.3s;
}
.star-container:hover {
  opacity: 1;
}
.star-container:hover ~ .star-container {
  opacity: 1;
}

.star-container:has(input:checked) {
  opacity: 1;
}
.star-container:has(input:checked) ~ .star-container {
  opacity: 1;
}
/* reviews */

/* subscription */

.billing-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: hsl(var(--popover));
  border-radius: 50vw;
  position: relative;
  z-index: 1;
}
.billing-switch input {
  display: none;
}
.billing-switch div {
  width: 70px;
}
.billing-switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(var(--muted));
  z-index: -1;
  width: 50%;
  height: 100%;
  border-radius: 50vw;
  transition: 0.3s;
}
.billing-switch:not(:has(input:checked))::before {
  transform: translateX(0);
}
.billing-switch:has(input:checked)::before {
  transform: translateX(100%);
}

/* subscription */

/* products */

.product-box:hover img {
  scale: 1.05;
}

/* products */

/* dashboard */

#dashboard-page section {
  padding: 15px 0;
}

#dashboard-page {
  display: grid;
  position: relative;
  color: hsl(var(--foreground));
  overflow: hidden;
  height: 100svh;
  transition: 0.3s;
}
#dashboard-page:has(aside.opened) {
  grid-template-columns: 200px 1fr;
}
#dashboard-page:has(aside.closed) {
  grid-template-columns: 90px 1fr;
}
#dashboard-page:has(aside.closed) aside a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding: 0;
  padding: 10px 0;
}

#dashboard-page:has(aside.closed) aside svg,
#dashboard-page:has(aside.closed) aside img {
  margin: 0;
}

#dashboard-page main {
  overflow: auto;
  position: relative;
  padding: 20px 20px 20px 40px;
}

#dashboard-page main.padding {
  padding: 20px;
}

#dashboard-page main.chat-page {
  padding: 20px 0 0 0;
}

#dashboard-page aside {
  box-shadow: 0 0 10px 10px hsl(var(--foreground) / 3%);
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}
#dashboard-page aside .aside-btn {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  transition: 0.3s;
  top: 18px;
}

#dashboard-page aside > div {
  overflow: hidden;
}

aside .logo {
  display: block;
  margin-bottom: 50px;
}

aside svg,
aside img {
  margin-right: 10px;
}

.aside-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.aside-links a {
  padding: 10px 20px;
  width: 100%;
  text-align: start;
}

.aside-links a.active {
  background-color: hsl(var(--primary) / 50%);
}

@media (max-width: 767px) {
  #dashboard-page {
    display: block;
    width: 100%;
    overflow: auto;
  }
  #dashboard-page aside {
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.3s;
  }
  #dashboard-page aside.closed {
    width: 0;
  }

  #dashboard-page aside .aside-btn {
    position: fixed;
    z-index: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  #dashboard-page aside .aside-btn {
    right: -40px;
  }
}
.dashboard-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}

.dashboard-nav-elements {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard-nav-elements .gear-btn:hover img,
.dashboard-nav-elements .gear-btn:focus-visible img {
  rotate: 45deg;
}

.dashboard-nav-elements input {
  padding-right: 30px;
}
.search-box {
  position: relative;
}
.search-box svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.dashboard-nav-bar img {
  width: 15px;
  cursor: pointer;
}
/* dashboard */

/* quill */

.ql-clipboard[contenteditable="true"] {
  display: none;
}
.ql-container.ql-disabled .ql-tooltip.ql-tooltip {
  display: none;
}
.custom-quill .ql-toolbar.ql-snow {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-color: hsl(var(--border));
}
.custom-quill .ql-container.ql-snow {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: hsl(var(--border));
  padding-right: 3px;
  padding-bottom: 3px;
}

.custom-quill .ql-container .ql-editor[contenteditable="true"] {
  max-height: calc(100svh - 220px);
  overflow-y: auto;
}
.custom-quill .ql-container .ql-editor[contenteditable="false"] {
  padding: 0;
}

.custom-quill .ql-container .ql-editor h1 {
  font-size: 2rem;
}
.custom-quill .ql-container .ql-editor h2 {
  font-size: 1.5rem;
}
.custom-quill .ql-container .ql-editor h3 {
  font-size: 1.3rem;
}
.custom-quill .ql-container .ql-editor h4 {
  font-size: 1.2rem;
}
.custom-quill .ql-container .ql-editor h5 {
  font-size: 1.1rem;
}
.custom-quill .ql-container .ql-editor p {
  font-size: 1rem;
}
.custom-quill .ql-container .ql-editor ol {
  font-size: 1rem;
}
.custom-quill .ql-container .ql-editor ul {
  font-size: 1rem;
  list-style: inside;
}

/* quill */

/* loading */

.loading-wrapper:has(.loading-state-active) .loading-section {
  opacity: 50%;
}

/* loading */
